body{
                text-align: center;
                background-color: rgba(192, 247, 142, 0.514);
            }
            h3{
                margin-top:30px auto;
                padding: 0 auto;
            }
            #alert{
                background-color: red;
                width: 100px;
                height: 50px;
                font-weight: bolder;
                font-size: larger;
            }
            #alert:hover{
                    width: 90px;
                    height: 45px;
            }
            #confirm:hover{
                    width: 90px;
                    height: 45px;
            }
            #prompt:hover{
                    width: 90px;
                    height: 45px;
            }
            #confirm{
                background-color: yellow;
                width: 100px;
                height: 50px;
                border-radius: 15px;
                font-weight: bolder;
                font-size: larger;
            }
            #prompt{
                background-color: green;
                width: 100px;
                height: 50px;
                border-radius: 30px;
                font-weight: bolder;
                font-size: larger;
            }
            .A{
                background-color: lightpink;
                width: auto;
                padding: 10px;
                border-radius: 20px;
            }
            .container{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                margin: 50px;
            }